@font-face {
    font-family: 'Big Shoulders Display';
    src: url(./assets/fonts/BigShouldersDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/Outfit-VariableFont_wght.ttf) format('truetype');
}
:root {
    --h1-font-size: clamp(3.75rem, 2.9577464788732395rem + 3.3802816901408446vw, 6rem);
    --h2-font-size: clamp(3.125rem, 2.4107142857142856rem + 1.488095238095238vw, 3.75rem);
    --btn-font-size: 1.25rem;
    --p-font-size: clamp(1.125rem, 0.8392857142857143rem + 0.5952380952380952vw, 1.375rem);
    --p-sec-font-size: clamp(1rem, 0.8571428571428572rem + 0.2976190476190476vw, 1.125rem);

    --heading-font: 'Big Shoulders Display', cursive;
    --body-font: 'Outfit', sans-serif;

    --dark: #151515;
    --light-dark: #151515;
    --white: #fcfaf9;
    --orange: #d5966c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    background-color: var(--white);
    color: var(--light-dark);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-transform: uppercase;
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
p {
    font-size: var(--p-font-size);
}


main {
    padding: 0 clamp(1rem, -2.1753731343283587rem + 13.805970149253731vw, 10.25rem);
    display: grid;
    row-gap: clamp(1rem, -0.1428571428571428rem + 2.380952380952381vw, 2rem);
    margin: clamp(7.5rem, 3.2142857142857153rem + 8.928571428571427vw, 11.25rem) auto;
}
.text h2 {
    margin-bottom: clamp(1.5rem, 0.9285714285714286rem + 1.1904761904761905vw, 2rem);
    line-height: 0.9;
}
.dark-bg {
    background-color: var(--dark);
    color: var(--white);
    padding: clamp(3rem, 1.8571428571428572rem + 2.380952380952381vw, 4rem) clamp(1.5rem, -0.2142857142857142rem + 3.571428571428571vw, 3rem);
}
main img {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 48rem) {
    main {
        grid-template-columns: clamp(13.9375rem, 4.866071428571429rem + 18.898809523809522vw, 21.875rem) 1fr clamp(17.5rem, 12.5rem + 10.416666666666666vw, 21.875rem);
        grid-template-rows: repeat(3, auto);
        column-gap: clamp(1rem, -0.1428571428571428rem + 2.380952380952381vw, 2rem);
    }
    .light-bg {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        margin-right: 2rem;
    }
    .img-1 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .img-2 {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    .img-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .dark-bg {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    
}