@import './base.css';


.main__link-home {
    position: absolute;
}
.main__map {
    background-image: url(../assets/mobile/image-map.png);
    height: 550px;
}


.main__location-container {
    background-color: var(--color-primary-on-text);
}
.main__location {
    padding: 3rem 1rem;
}
.main__location h2, p {
    color: var(--color-primary);
}
.main__location h3 {
    color: var(--color-button-arrow);
    font-size: 2rem;
    font-family: bsd-900;
    margin-bottom: 1.3rem;
}
.main__location h2 {
    font-size: 3.125rem;
    margin-bottom: 3rem;
    font-family: bsd-900;
}
.space {
    margin-bottom: 1.3rem;
}


.footer__secondary {
    background-color: var(--color-button-arrow);
}
.footer__secondary .footer__text {
    color: var(--color-primary-on-text);
}
.footer__secondary .footer__social path {
    fill: var(--color-primary-on-text);
}

@media (min-width: 600px) and (max-width: 750px) {
    .main__map {
        background-image: url(../assets/mobile/image-map@2x.png);
        height: 1000px;
    }
}


@media (min-width: 750px) {
    .main__link-home {
        left: 2rem;
    }
    .main__map {
        background-image: url(../assets/tablet/image-map.png);
        height: 600px;
    }

    .main__location {
        display: grid;
        grid-template-columns: 220px 1fr;
        gap: 68px;
    }
}